body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav {
    padding: 10px 10px;
    height: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 25px;
    height: 25px;
    fill: rgb(115 115 115);
    margin-right: 10px;
}

.nav-intro {
    display: flex;
    align-items: center;
}

.nav-name {
    font-weight: 100;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    padding: 6px 16px;
    min-width: 64px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.02857em;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.nav-name:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.nav-info {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
}
.nav-info>a {
    padding: 6px 16px;
    text-decoration: none;
     color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.02857em;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.nav-info>a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 75px);
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 500px;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.text-container>span {
    /*min-width: 360px;*/
    min-width: 60%;
}

.text-greeting {
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
}

.text-intro {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
}

.text-intro-name {
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
}

.text-occupation {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
}

.text-more {
    font-weight: 100;
    font-style: italic;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
}
